/* components/tabs/tabs.wxss */

.create-tool {
    border-top: 1px solid #e5e5e5;
    height: 50px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    background: #fff;
    .weui-flex__item {
        margin-top: 4px;
        color: #b8b8b8; // height: 65px;
        text-align: center;
        flex-grow: 1;
        .item-icon {
            margin: auto;
            width: 27px;
            height: 27px;
            .image {
                width: 27px;
                height: 27px;
            }
        }
        .tool-title {
            font-size: 11px;
            height: 18px;
            line-height: 18px;
        }
        .redColor{
            color:#d90012;
        }
    }
}