@import '../../_theme_variable';
.comment{
    // padding: 5px 15px;
    background:#F3F3F4;
    .weui-flex{
        padding: 5px 10px;
    }
    .comment_photo{
        width: 30px;
        height: 30px;
        display: block;
        border-radius: 50%;
    }
    .weui-cell::before{
        border: none;
    }
    .weui-cell{
        padding: 5px 5px;
    }
    .is_date{
        font-size: 13px;
        color: #cbcbcb;
    }
    .is_name{
        color: #4f4f4f;
    }
    .view_all{
        color: #818181;
        text-align: center;
        border-top: 1px solid #f3f3f4;
        padding: 10px 0px;
        background: #fff;
    }
    .no_comment{
        width: 120px;
        height: 50px;
    }
    .section{
        height: 240px;
        width: 400px;
        display: table-cell; //主要是这个属性
        vertical-align: middle;
        text-align: center;
        background: #fff;
    }
    .temporary_no{
        text-align: center;
        color: #818181;
    }
    .comment_list{
        background: #fff;
        border-bottom: 1px solid #f3f3f4;
    }
    .do_comment{
        text-align: right;
        color: $theme_color;
    }
    .record-container {
            top: 0px;
            width: 100%;
            position: fixed;
            z-index: 9998;
            height: 100%;
            background: rgba(0, 0, 0, .4);
        .record-gird {
                width: 95%;
                overflow: hidden;
                position: absolute;
                z-index: 9999;
                background: #fff;
                top: 0px;
                padding: 10px;
                .comment_text{
                width: 96%;
                    border: 1px solid #ddd;
                    padding: 5px;
                    border-radius: 3px;
                }
        }
        .com_btn{
            color: #fff;
            background: $theme_color;
            border-radius: 5px;
            line-height: 20px;
            font-size: 14px;
            padding: 5px;
            width: 60px;
            border-radius: 20px;
        }
        .com_cale{
            color: #d90002;
            background: #fff;
            border: 1px solid $theme_color;
        }
    }
}
.like{
    padding: 5px 0px;
    background:#F3F3F4;
    .weui-flex{
        padding: 5px 10px;
    }
    .weui-cell::before{
        border: none;
    }
    .weui-cell{
        border-top: 1px solid #f3f3f4;
    }
    .like_photo{
        width: 40px;
        height: 40px;
    }
    .photo{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: block;
        margin: auto;
    }
    .view_all{
        color: #818181;
        text-align: center;
        border-top: 1px solid #f3f3f4;
        padding: 10px 0px;
    }
    .like_st{
        width: 30px;
        height: 30px;
        display: inline-block;
        border-radius: 50%;
    }
    .temporary_no{
        text-align: center;
        color: #818181;
    }
    .section{
        height: 140px;
        width: 400px;
        display: table-cell; //主要是这个属性
        vertical-align: middle;
        text-align: center;
        background: #fff;
    }
    .like_group{
        text-align: center;
        .like_list{
            padding: 5px 0;
            i{
                font-size: 35px;
                color:$theme_color;
            }
        }
    }
}