/* page/paydetail/paydetail.wxss */
page{
	background:#fff;
	.paydetail{
      .paymentState{
      	height:60px;
      	line-height:60px;
      	background:#b23929;
      	padding:0 15px;
      	display: flex;
      	justify-content:space-between;
      	color:#fff;
            font-size:1.3em;

      	.cancel{
            padding:4px 6px;
      		border:1px solid #fff;
      		border-radius:3px;
      	}
      } 

      .paymentlist{
      	color:#888;
      	margin:0 15px;
      	padding:10px 0;
      	.paymentBT{
      		font-size:1.2em;

      	}
      	.blankColor{
      		color:#060606;

      	}
      	.paymentST{
      		font-size:0.9em;
                  padding-top:4px;
                  line-height:20px;
                  text {
                        margin-left:16px;
                  }
      	}

      	.paymentDes{
      		display:flex;
      		justify-content:space-between;
      		color:#060606;
      		
      	}

      	.paymentDesMar{
      		margin-top:8px;
      	}

      	.paymentInfo{
      		color:#060606;
      		display:inline-block;
      		float:left;
      	}

      	.tel{
	            float:right;
	            color:#565656;
	            display:inline-block;

	            .iconTel {
	                display:inline-block;
	                width:48rpx;
	                height:48rpx;
	                line-height:48rpx;
	                text-align:center;
	                
	                background:#b23929;
	                margin-right:10rpx;
	                border-radius:50%;
	            }
	        }

        }

    .redColor{
      	color:#b23929;
      }

     .font24 {
      font-size:24rpx;
     }

      .priceTotal{
      	font-size:1.2em;
      }

      .Border{
      	border-bottom:1px solid #e5e5e5;
      }

      .line{
      	height:3px;
      	background:#e5e5e5;
      }

      .orderDetail{
      	font-size:0.9em;
      	padding:15px;
      	color:#888;
            line-height:20px;
      	text {
      		display:inline-block;
      		width:80px; 
      	}
      }

    }

}