/* page/payment/payment.wxss */
page{
	background:#fff;
	.payment{
      .paymentState{
            height:60px;
           line-height:60px;
            background:#b23929;
            padding:0 15px;
            display: flex;
            justify-content:space-between;
            color:#fff;
            font-size:1.3em;

            .cancel{
                  border:1px solid #fff;
                  padding:4px 6px;
                  border-radius:3px;
                  font-size:0.8em;
                  line-height:60px;
            }
            // .wait_sure {
            //   line-height:60px; 
            // }
            // .wait_pay {
            //   padding:8rpx 0;
            //   .littleTime {
            //   font-size:28rpx;
            //   color:#FFE7BA;
            //   display:block;
            // }
         // }
            
        } 

      .paymentlist{
      	color:#888;
      	margin:0 15px;
      	padding:10px 0;
      	.paymentBT{
      		font-size:1.2em;

      	}
      	.blankColor{
      		color:#060606;

      	}
      	.paymentST{
                  font-size:0.9em;
                  padding-top:4px;
                  line-height:20px;
                  text {
                        margin-left:16px;
                  }
      	}

      	.paymentDes{
      		display:flex;
      		justify-content:space-between;
      		color:#060606;
      		
      	}

      	.paymentDesMar{
      		margin-top:8px;
      	}

      	.paymentInfo{
      		color:#060606;
      		display:inline-block;
      		float:left;
      	}

      	.tel{
	            float:right;
	            color:#565656;
	            display:inline-block;

	            .iconTel {
	                display:inline-block;
	                width:48rpx;
	                height:48rpx;
	                line-height:48rpx;
	                text-align:center;
	                
	                background:#b23929;
	                margin-right:10rpx;
	                border-radius:50%;
	            }
	        }

        }

    .redColor{
      	color:#b23929;
      }

      .font24 {
       font-size:24rpx;
     }

      .priceTotal{
      	font-size:1.2em;
      }

      .Border{
      	border-bottom:1px solid #e5e5e5;
      }

      .line{
      	height:3px;
      	background:#e5e5e5;
      }

      .orderDetail{
      	font-size:0.9em;
      	padding:15px;
      	color:#888;
            line-height:20px;
      	text {
      		display:inline-block;
      		width:80px; 
      	}
      }

      .paymentPrice{
      	color:#060606;
      	padding:30px 15px 10px 15px;
      	text-align:right;
      	text {
      		font-size:1.3em;
                  text.font26 {
                        font-size:26rpx;
                  }
      	}
      }

      .paymentBtn{
      	padding:0 15px;
      	button.Btn {
      	height:40px;
          	line-height:40px;
            padding:0 30px;
          	text-align:center;
          	background:#b23929;
          	color:#fff;
          	border:none;
          	border-radius:3px;
            margin-bottom:20px;
      	}
      }   
	}

}