.recomment {
    white-space: nowrap;
    background: #fff;
    height: 100vh;
    border-top: #e5e5e5;
    .recom-list {
        height: 55vh;
        .recom-item {
            display: inline-block;
            margin: calc((55vh - 270px)/2) 10px;
            position: relative;
            width: 200px;
            text-align: center;
            image {
                box-shadow:1px 2px 2px #828282;
                width: 200px;
                height: 240px;
                border-radius: 15px;
            }
        }
    }
    .more-recom {
        height: calc(40vh - 1px);
        .recom-item {
            display: inline-block;
            margin: calc((40vh - 181px)/2) 10px;
            position: relative;
            width: 140px;
            text-align: center;
            .coverImg {
                box-shadow:1px 2px 2px #828282;
                width: 140px;
                height: 180px;
                border-radius: 10px;
            }
            .sub-btn {
                right: 10px;
                top: 153px;
                font-size: 14px;
            }
        }
    }
    .recom-title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 20px;
        margin-top: calc((55vh - 270px)/4);
    }
    .sub-btn {
        position: absolute;
        right: 15px;
        top: 212px;
        line-height: 24px;
        background: #d90012;
        color: #fff;
    }
    .more-text {
        width: 100vw;
        height: 5vh;
        border-bottom: 1px solid #828282;
        color: #828282;
        padding-left: 10px;
    }
}