/* page/agreement/agreement.wxss */
page {
	background:#fff;
	color:#767676;
	.scroller {
      height:80vh;
      border:1px solid #e5e5e5;
      padding:15px 0;
	}
	.page{
		padding:15px;
		.agreement{
			padding:0 15px;
			line-height:50rpx;
			font-size:28rpx;
	        .titleB {
	        	font-size:48rpx;
	        	text-align:center;
	        	padding:30rpx 0;
	        	color:#060606;
	        }
            .titleM {
            	font-size:36rpx;
            	padding:20rpx 0;
            	color:#060606;
            }

            .titleBS {
            	font-size:34rpx;
            	color:#363636;
            	padding:10rpx 0;
            	line-height:56rpx;
            }
            .titleS {
            	font-size:30rpx;
            	color:#363636;
            	padding:10rpx 0;
            	line-height:56rpx;
            }
            .titleT {
            	font-size:30rpx;
            	color:#666;
            	padding:16rpx 0;
            	line-height:56rpx;
            }
            .titleS6 {
            	font-size:28rpx;
            	color:#464646;
            	padding:10rpx 0;
            	line-height:56rpx;
             }
			.p-indent{
				text-indent:25px;
			}
        }

        .submit-btn{
        	margin-top:20px;
        	button.Btn {
				background:#b33929;
				height:80rpx;
				line-height:80rpx;
				color:#fff;
				text-align:center;
				border-radius:4px;
				border:none;
			}
        }

	}
}