.thumb{
	padding: 5px 0px;
	background:#F3F3F4;
	.weui-flex{
		padding: 5px 10px;
	}
	.weui-cell::before{
		border: none;
	}
	.weui-cell{
		border-top: 1px solid #f3f3f4;
	}
	.thumb_photo{
		width: 40px;
		height: 40px;
	}
	.photo{
		width: 40px;
		height: 40px;
		border-radius: 50%;
		display: block;
		margin: auto;
	}
	.view_all{
		color: #818181;
		text-align: center;
		border-top: 1px solid #f3f3f4;
		padding: 10px 0px;
	}
	.thumb_st{
		width: 30px;
		height: 30px;
		display: inline-block;
		border-radius: 50%;
	}
	.temporary_no{
		text-align: center;
		color: #818181;
	}
	.section{
		height: 140px;
		width: 400px;
		display: table-cell; //主要是这个属性
   		vertical-align: middle;
  		text-align: center;
  		background: #fff;
	}
	.thumbs_group{
		text-align: center;
		.thumbs_list{
			padding: 5px 0;
			i{
				font-size: 35px;
				color:#d90002;
			}
		}
	}
}