/* page/IntrDetails/IntrDetails.wxss */
@import "../../templates/wxParse/wxParse.scss";
page {
	background:#fff;
   color:#666;
	.intrDetails-nav {
      display: flex;
      height:50px;
      line-height:50px;
      background:#bb1500;
      padding:0px 15px;
      font-size:1em;
      position:fixed;
      left:0;
      right:0;
      top:0;
      .default {
         width:33.3%;
         text-align:center;
         color:#fbc2b7;
      }
      .selectActive text {
         padding-bottom:3px;
      	border-bottom:1px solid #fff;
         color:#fff;
      }
   }

    .intrDetails-H{
         line-height:24px;
         padding:5px 0;
         margin-top:50px;
         image {
            width:100%;
         }
        

      }

    .intrDetails-into{
            padding:10px 15px;
            font-size:0.9em;
            .smallTitle{
               //font-size:1.2em;
               color:#363636;
            }
      }

  .intrserver{
     
  }

 .intrserverList {
     display:flex;
     flex-wrap:wrap;
     padding:20rpx 0 0 0;
     view.intrserver {
      width:25%;
      text-align:center;
      font-size:26rpx;
      color:#6e6e6e;
      margin:16rpx 0;
     }
     i {
      color:#6e6e6e;
      font-size:68rpx;
     }
    
  }   

	.show {
		display:block;
	}
	.hidden {
       display:none;
	}

  .wxParse-inline {
  font-size: 1em; }
}
.typeClass {
   font-size:30rpx;
   color:#060606;
}
.scroller {  height: calc(100vh - 52px); }