/* page/orderManage/orderManage.wxss */
page{
	background:#fff;
   }
.page{
	
	.navbar {
		height:40px;
		line-height:40px;
		background:rgba(255,255,255,0.8);
		display:flex;
		justify-content:space-between;
		padding:0 15px;
		border-bottom:1px solid #e5e5e5;
		position:fixed;
		top:0px;
		width:100%;
		box-sizing:border-box;
		border-bottom:1px solid #e5e5e5;
		.navbar-item {
			width:20%;
			text-align:center;
		}
		.navbarActive{
          border-bottom:2px solid #b23929;
          color:#b23929;
		}


     }

	.line {
		height:4px;
		width:100%;
		background:#e5e5e5;
	}
    
    .orderList { margin-top:40px; }
	.order{
		margin:0px 0px 4px 0px;
		background:#fff;
		.orderTitle{
			display:flex;
			justify-content:space-between;
			margin:0 15px;
			border-bottom:1px solid #e5e5e5;
			height:40px;
			line-height:40px;
			
			.orderNum{
				color:#060606;
				text {
					display:inline-block;
					margin-left:10px;
				}
            }

            .redColor{
					color:#b23929;
				}
				.greenColor{
					color:#42913f;
				}
				.grayColor{
					color:#666;
				}
		}

		.orderInfo{
			display:flex;
			justify-content:space-between;
			margin:0 15px;
			color:#888;
			padding:10px 0;
			font-size:0.9em;
			.orderInfoLf{
				.orderInfoT{
               	font-size:1.2em;
               	color:#060606;
               	padding-bottom:5px;
               }
               .orderName{
               	font-size:30rpx;
               }

               .txtDays{
               	margin-left:10px;
               }

			}
			.orderInfoRt{
				text-align:right;
				.orderInfoP{
					color:#060606;
					padding-bottom:5px;
					text {
						font-size:1.3em;
						text.font26 {
							font-size:26rpx;
						}
					}
				}
			}
		}
	}
	.show {
		display:block;
	}
	.hidden {
		display:none;
	}
	text.font24 {
		font-size:24rpx;
	}
}

.page__fd{
		padding-top:1em;
		.weui-loadmore__tips_in-line {
			background:#fff;
	}
}
