/*导入模板样式*/

@import '../../theme_variable';
@import "../../templates/default/default.scss";

.scroller {
    height: calc(100vh - 48px);
}

.tishi {
    border-radius: 5px;
    position: relative;
    padding: 5px;
    font-size: 12px;
    animation: shake 1.2s linear alternate infinite;

    color: #fff;
    background: rgba(0, 0, 0, .7);
    &:after {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border: solid transparent;
        pointer-events: none;
        content: "";
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: rgba(0, 0, 0, .7);
        border-width: 12px;
        left: 49%;
        margin-left: -10px;
        bottom: 100%;
    }
}

.page {
    // min-height:100vh;
    padding-bottom: 20px;
}


.collection {
    background: #fff;
    margin: 0 15px;
    text-align: center;
    border-radius: 5px;
    padding: 3px 5px;
}

@import "../../templates/interactive/interactive";


@keyframes shake {
    from {
        top: 0px;
    }
    to {
        top: 10px;
    }
}