@import '../../theme_variable';
.navbar {
		height:40px;
		line-height:40px;
		background:rgba(255,255,255,0.8);
		display:flex;
		justify-content:space-between;
		padding:0 15px;
		border-bottom:1px solid #e5e5e5;
		position:fixed;
		top:0px;
		width:100%;
		box-sizing:border-box;
		border-bottom:1px solid #e5e5e5;
		.navbar-item {
			width:50%;
			text-align:center;
		}
		.navbarActive{
          border-bottom:2px solid #b23929;
          color:#b23929;
		}


}
.myCollection{
	 margin-top:40px;
	.coll_content{
	margin-top:3px;
		background:#fff;
		padding: $page_padding;
		border-bottom: 1px solid #f3f3f3;

		.coll_bd{
			width: 80%;
			.bottom{
				color: #828282;
				font-size: 14px;
				margin-top: 10px;
				.cancle{
					color:#323232;
					// font-size:15px;
				}
			}
			.top{
				height: 50px;
				line-height: 25px;
				margin: 5px 0;
				text-overflow:ellipsis;
				display:-webkit-box; //将对象作为弹性伸缩盒子模型显示。
				-webkit-line-clamp:2;
				-webkit-box-orient:vertical;
				overflow:hidden;
			}

			.name{
				height:22px;
				line-height:22px;
				margin: 2px 0;
				text-overflow:ellipsis;
				display:-webkit-box; //将对象作为弹性伸缩盒子模型显示。
				-webkit-line-clamp:2;
				-webkit-box-orient:vertical;
				overflow:hidden;
			}
			.address{
				color:#888;
				font-size:26rpx;
				line-height:18px;
			}
		}
		.images_figure {
			    width: 110px;
			    height: 75px;
			    display: block;
			    flex: 33.3333%;
			    padding-left: 10px;
			    padding-top: 10px;
			}
	}

}

.show {
	display:block;
}
.hidden {
	display:none;
}

.page__fd{
		padding-top:1em;
		
}