.cover {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    .image {
        width: 100vw;
        height: 100vh;
    }
    .tips {
        position: absolute;
        width: 32px;
        height: 32px;
        bottom: 20px;
        left: calc(50% - 16px );
        animation: snake 2s infinite ;
        .img {
            width: 32px;
            height: 32px;
        }
        
    }



    .journal-num {
        position: absolute;
        top: 0px;
        color: #fff;
        right: 0px;
        width: 60px;
        height: 60px;
        .pos {
            position: relative;
            width: 60px;
            height: 60px;
            .triangle {
                position: absolute;
                top: 0px;
                z-index: 20;
                right: 0px;
                width: 0px;
                height: 0px;
                border-top: 60px solid red;
                border-left: 60px solid transparent;
            }
            text {
                position: absolute;
                z-index: 21;
                font-size: 0.6em;
                top: 15px;
                right: 0px;
                transform: rotateZ(45deg)
            }
        }
    }
    .journal-name1 {
        position: absolute;
        top: 10px;
        color: #fff;
        left: 10px;
        font-family: cursive;
        font-size: 3em;
        font-weight: 500;
        width: 1.5em;
        text-align: center;
        line-height: 1.5em;
        text-shadow: 0 0 1px currentColor,
        2px 0 1px #98c0e8,
        0 2px 1px #083058,
        2px 1px 1px #98c0e8,
        1px 2px 1px #083058,
        2px 2px 1px #487098,
        3px 1px 1px #98c0e8,
        1px 3px 1px #083058,
        3px 2px 1px #98c0e8,
        2px 3px 1px #083058,
        3px 3px 1px #487098,
        4px 2px 1px #98c0e8,
        2px 4px 1px #083058,
        4px 3px 1px #98c0e8,
        3px 4px 1px #083058,
        4px 4px 1px #487098,
        2px -1px 1px #666,
        3px 0 1px #666,
        4px 1px 1px #666,
        5px 2px 1px #666,
        6px 3px 1px #666,
        7px 4px 1px #666,
        8px 5px 1px #666,
        9px 6px 1px #666,
        10px 7px 1px #666,
        11px 8px 1px #666,
    }
    .journal-name2 {
        position: absolute;
        top: 10px;
        color: #fff;
        left: 10px;
        font-family: cursive;
        font-size: 2em;
        font-weight: 500;
        width: 1.5em;
        text-align: center;
        line-height: 1em;
        text-shadow: 6px 2px 2px #666666;
    }
    .journal-columns {
        position: absolute;
        bottom: 10px;
        left: 20px;
        .column {
            width: calc(100vw - 20px);
            .title {
                color: #fff;
                font-size: 1.2em;
                color: #fff; // font-weight: bold;
                text-shadow: 0 0 1px currentColor, 1px 1px 1px #000, 2px 2px 3px #000;
            }
            .desc {
                font-size: 1em;
                color: #d8d8d8;
                text-indent: 1.5em;
                padding-right: 10px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}

@keyframes snake {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    
    100% {
        transform: translateY(-20px);
        opacity: 0;
    }
}