.four-three {
    width: calc(100vw - 16px);
    padding: 0 8px;
    .four-top {
        height: 60vh;
        display: flex;
        flex-direction: row;
        .top-only {
            width: calc(50vw - 12px);
            position: relative;
            &:nth-child(even) {
                padding-left: 8px;
            }
            .image {
                width: calc(50vw - 12px);
                height: 45vh;
            }
            .top-desc {
                font-family: '微软雅黑' !important;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                height: 14vh;
                .item-title {
                    font-size: 1.2em;
                    line-height: 25px;
                    min-height: 25px;
                    max-height: 50px;
                    color: #131313;
                    display: -webkit-box;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    word-break: break-all;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                }
                .item-other {
                    font-size: 0.8em;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;
                    .item-time {
                        width: 35vw;
                        color: #bdbdbd;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        text {
                            &:nth-child(even) {
                                color: #828282;
                                padding-left: 12px;
                            }
                        }
                    }
                    .read-num {
                        color: #828282;
                    }
                }
            }
        }
    }
    .four-bottom {
        height: 40vh;
        .bottom-item {
            height: calc(20vh - 11px);
            padding: 5px 0;
            display: flex;
            border-top: 1px solid #eee;
            flex-direction: row;
            .bottom-item-left {
                width: calc(70vw - 10px);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .bottom-item-title {
                    font-size: 1.2em;
                    line-height: 30px;
                    min-height: 30px;
                    max-height: 60px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
                .bottom-item-other {
                    display: flex;
                    padding-right: 5px;
                    flex-direction: row;
                    justify-content: space-between;
                    font-weight: 300;
                    font-size: 14px;
                    color: #888888;
                    .time {
                        width: 50vw;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        text {
                            &:nth-child(even) {
                                padding-left: 12px;
                            }
                        }
                    }
                    .read-num {}
                }
            }
            .bottom-item-right {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;
                width: 30vw;
                flex: auto;
                .image {
                    width: 30vw;
                    height: calc(20vh - 11px);
                }
            }
        }
    }
}