/* components/swiper-item/swiper-item.wxss */
@import '../../theme_variable';
@import "cover";
@import "one";
@import "one-2";
@import "two";
@import "three-1";
@import "three-2";
@import "three-3";
@import "four-1";
@import "four-2";
@import "four-3";
@import "five";
@import "ad";
@import "yearCard";
@import "newCard";
.container {
    width: 100vw;
    overflow: hidden;
    height: 100vh;
    position: relative;
    transform-style: preserve-3d;
    perspective: 400vh; // 上一页
    .page-item {
        width: 100vw;
        height: 50vh;
        position: absolute;
        background: #fff;
        .page-container {
            width: 100vw;
            height: 50vh;
            position: relative;
            overflow: hidden;
            .page-wrap {
                width: 100vw;
                height: 100vh;
                position: absolute;
                .page {
                    width: 100vw;
                    height: 100vh;
                    position: relative;
                    overflow: hidden;
                }
            }
        }
    }
    .page-top {
        top: 0px;
        .page-wrap {
            top: 0px;
        }
    }
    .page-bottom {
        top: 50vh;
        .page-wrap {
            bottom: 0px;
        }
    }
}


.noData {
    width: 100vw;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .text {
        color: #999999;
        font-size: 1em;
        text-align: center;
    }
}