@import '../../theme_variable';

.record {
     text-align: center;
    .text_area {
        text-align: left;
        width: auto;
        padding: $page_padding;
        height: 160px;
        border-top: 1px solid #e5e5e5;
        // margin-top: 10px;
    }
    
    .tips {
        text-align: left;
        color: #9a9a9a;
        font-size: 14px;
        padding-left: $page_padding;
        padding-right: $page_padding;
        border-top: 1px solid #e5e5e5;
    }
    .record-com{
        padding:8px;
    }


    .btn-group {


        display: flex;
        margin-top: 10px;
        padding-left: $page_padding;
        padding-right: $page_padding;
        button {
            margin-top: 0px;
            width: 45%;
            background: $theme_color;
            &.button-hover {
                background-color: #bb1b1e;
            }
        }
    }
}