$share-modal-animation-time: .3s !default;


.share-modal {
	width: 100vw;
	height: 0px;
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgba(0, 0, 0, 0);
	z-index: 9999;

	.share-sheet {
		position: fixed;
		bottom: -139px;
		width: 100vw;
		border-top: 1px solid #828282;
		background: #fff;


		.share-img {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			button {
				padding-bottom: 8px;
				padding-top: 8px;
				padding-right: 0px;
				padding-left: 0px;
				margin-left: 16px;
				margin-right: 0px;
				background: transparent;
				.icon-title {
					color: #cccccc;
					font-size: 12px;
					line-height: 25px;
				}
				.share-icon,
				image {
					width: 34px;
					height: 34px;
				}
				.share-icon {
					padding: 8px 8px 0px;
				}
				&:after,
				&:before {
					border: 0px;
				}
			}
		}
		.cancel-btn {
			border-top: 5px solid #cccccc;
			line-height: 50px;
			height: 50px;
			color: #000;
			text-align: center;
		}
	}
	.share-head {
		position: fixed;
		top: 20px;
		width: 80vw;
		left: 10vw;
		border-radius: 5px;
		background: #fff;
		.share-title {
			height: 40px;
			color: #000;
			font-size: 1.2em;
			line-height: 50px;
			text-align: center;
		}
		.share-canvas {
			margin: 0px auto;
			border: 1px solid #ccc;
			width: 75vw;
			height: 60vh;
			canvas {
				margin:3px auto;
				width: calc(75vw - 6px);
				height: calc(60vh - 6px);
			}
		}
		.shre-tips {
			padding: 0px 2.5vw 10px;
			line-height: 1.2em;
			font-size: 1em;
			text-align: left;
			color: #666666
		}
		.share-ok {
			border-top: 1px solid #cccccc;
			height: 50px;
			font-size: 1.2em;
			line-height: 50px;
			color: #000;
			text-align: center;
		}
	}
}

.fade-in {
	animation: fade-in $share-modal-animation-time forwards;
}

.fade-out {
	animation: fade-out $share-modal-animation-time;
}

.down {
	animation: fade-down $share-modal-animation-time forwards;
}

.up {
	animation: fade-up $share-modal-animation-time forwards;
}

@keyframes fade-in {
	0% {
		height: 100vh;
		background: rgba(0, 0, 0, 0);
	}
	to {
		height: 100vh;
		background: rgba(0, 0, 0, .5);
	}
}

@keyframes fade-out {
	from {
		height: 100vh;
		background: rgba(0, 0, 0, .5);
	}
	to {
		height: 100vh;
		background: rgba(0, 0, 0, 0);
	}
}

@keyframes fade-up {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(-139px);
	}
}

@keyframes fade-down {
	from {
		transform: translateY(-139px);
	}
	to {
		transform: translateY(0px);
	}
}