/* page/details2/details2.wxss */

page {
    /*padding:16px !important;
    width:calc(100% - 16px) !important;*/
    @import "../../templates/wxParse/wxParse.scss";
    @import "../../templates/interactive/interactive";
    background: #fff;
    .scroller {
        height: calc(100vh - 52px);
    }
    .page {
        padding: 10px;
        .page__bd {
            padding-top: 10px;
            video {
                margin: 0 auto;
                display: block;
                width: 100%;
            }
            
        }
        .collection {
            background: #fff;
            margin: 0 15px;
            text-align: center;
            border-radius: 5px;
            padding: 3px 5px;
        }
    }
    .tishi {
        border-radius: 5px;
        position: relative;
        padding: 5px;
        font-size: 12px;
        animation: shake 1.2s linear alternate infinite;

        color: #fff;
        background: rgba(217, 0, 18, .7);
        &:after {
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            border: solid transparent;
            pointer-events: none;
            content: "";
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: rgba(217, 0, 18, .7);
            border-width: 12px;
            left: 49%;
            margin-left: -10px;
            bottom: 100%;
        }
    }
    .weui-article__h1 {
        font-size: 1.5em;
        font-weight: bold;
        
    }
    .subtitle {
        display: flex;
        justify-content:space-between;
        .sublist {
            display: flex;
            justify-content:flex-start;
            width: 60vw;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            .mark {
                display: inline-block;
                padding: 0 4px;
                border: 1px solid #d90002;
                background: #d90002;
                color: #fff;
                border-radius: 4px;
                margin-right: 7px;
                font-size: 12px;
            }
            .time{
                color: #828282;
            }
        }
        .placeholder{
            color: #828282;
        }
    }
    @keyframes shake {
        from {
            top: 20px;
        }
        to {
            top: 30px;
        }
    }
}