.container{
    .page {
        padding: 12px;
        .bd_bottom{
            background:#fff;
            padding:10px;
            color: #828282;
            font-size: 13px;
            box-shadow: 0 2px 2px #828282; /*底边阴影*/
            .bd_bottom_l{
              text-align:right;
              color:#323232;
              font-size:14px;
            }
        }
    }

    .page__bd {
        background: #fff;
        position: relative;
    }

    .main_figure {
        width: 100%;
        height: calc(50vw - 12px);
        display: block;
    }

    .page__fd {
         padding-top: 1em;
    }

    .list_title {
        position: absolute;
        bottom:0px;
        width: calc(100% - 10px);
        background: linear-gradient(to top,rgba(0, 0, 0, .5),rgba(0, 0, 0, 0));
        color: #fff;
        padding: 5px;
    }
    .creat-post {
        width: 60px;
        height: 60px;
        // background-color: rgba(116, 72, 208, .77);
        font-size: 16px;
        &.button-hover {
            background-color: #4d327b;
            color: #fff;
        }
        border-radius:50%;
        position:fixed;
        text-align:center;
        line-height:60px;
        color:#fff;
        z-index:999999;
        bottom:10px;
        right:10px;
        animation: sploosh 2s cubic-bezier(0.165, 0.84, 0.44, 1);
        animation-iteration-count:infinite;
    }
    @keyframes sploosh {
              0% {
                box-shadow: 0 0 0 0px rgba(212, 0, 2, 0.2);
                background: rgba(212, 0, 2, 1);
              }
              100% {
                box-shadow: 0 0 0 5px rgba(212, 0, 2, 0.4);
                background: rgba(212, 0, 2, 1);
              }
      }
}