@import '../../theme_variable';
.commentMore{
	font-family: '微软雅黑';
	.numbers{
		color: #4f4f4f;
		text-align:center;
		padding: 10px;
	}
	.comment_list{
		border-top: 1px solid #ddd;
		.comment_photo{
			width: 30px;
			height: 30px;
			display: block;
			border-radius: 50%;
		}
		.weui-cell::before{
			border: none;
		}
		.weui-cell{
			padding: 5px 5px;
		}
		.is_date{
			font-size: 13px;
			color: #cbcbcb;
		}
		.weui-cell-reply,.is_name,.reply{
			font-size: 14px;
		}
		.is_name{
			color: #4f4f4f;
		}
		.reply{
			color: #cbcbcb;
		}
		.reply_l{
			color: #666;
		}
	}
	.page__fd {
	    border-top: 1px solid #ddd;
	}
}
.record-container {
	    	top: 0px;
	    	width: 100%;
	    	position: fixed;
	    	z-index: 9998;
	    	height: 100%;
	    	background: rgba(0, 0, 0, .4);
		.record-gird {
		    	width: 95%;
		    	overflow: hidden;
		    	position: absolute;
		    	z-index: 9999;
		    	background: #fff;
		    	top: 0px;
		    	padding: 10px;
		    	.comment_text{
				width: 96%;
		    		border: 1px solid #ddd;
		    		padding: 5px;
		    		border-radius: 3px;
		    	}
		}
		.com_btn{
			color: #fff;
			background: $theme_color;
			border-radius: 5px;
			line-height: 20px;
			font-size: 14px;
			padding: 5px;
			width: 60px;
			border-radius: 20px;
		}
		.com_calc{
			color: $theme_color;
			background: #fff;
			border: 1px solid $theme_color;
		}
	}