@import '../../_theme_variable';
.noData {
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .text {
        color: #999999;
        font-size: 1em;
        text-align: center;
    }
}

.scroll {
    width: 100vw;
    height: 100vh;
    .dynamic {
        // position: sticky;
        top: 0px;
        z-index: 1000;
        background: #fff;
        border-bottom: 2px solid #e5e5e5;
        .tabs {
            display: flex;
            flex-direction: row;
            align-items: center;
            border-bottom: 2px solid #e5e5e5;
            .tabs-item {
                padding: 4px 12px;
                color: #b3b3b3;
                position: relative;
                &:after {
                    display: block;
                    transition: all .4s;
                    content: "";
                    position: absolute;
                    width: 100%;
                    left: 0px;
                    transform: translate(0%);
                    bottom: -1px;
                    background: #000;
                    border-bottom: 1px solid $theme_color;
                }
                &:first-child {
                    &:after {
                        transform: translate(100%);
                    }
                }
                &:nth-child(2) {
                    &:after {
                        transform: translate(-100%);
                    }
                }
                &.active {
                    color: $theme_color;
                    &:after {
                        transform: translate(0%);
                    }
                }
            }
            .tabs-more {
                padding: 4px 12px;
                font-size: .9em;
                flex-grow: 1; //这三个元素只有它在有空余空间时可伸缩，也就是它占据了所有剩余空间
                display: flex; //将它设置为flex,就可以单独对他进行主轴右对齐
                justify-content: flex-end;
                color: $theme_color;
            }
        }
        .tabs-list {
            display: flex;
            height: 91px;
            overflow-x:scroll;
            flex-direction:row;
            align-items:center;
            .special {
                width: 75px;
                line-height: 20px;
                font-size: .9em;
                text-align: center;
                color: #ccc;
                .special-img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border: 1px solid #fff;
                    filter: grayscale(100%);
                }
                .title{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                &.active {
                    
                    .special-img {
                        filter: grayscale(0%);
                        border: 1px solid $theme_color;
                    }
                    color: #000;
                }
            }
            .master {
                width: 50px;
                height: 50px;
                line-height: 50px;
                font-size: .9em;
                text-align: center;
                border-radius: 50%;
                background: #ddd;
                border: 1px solid #eee;
                color: #fff;
                flex-shrink: 0;
                margin: 8px 0px;
                &.active {
                    filter: grayscale(100%);
                    border: 1px solid $theme_color;
                    color: #ccc;
                }
            }
        }
        .tabs-list::-webkit-scrollbar {
            display: none;
        }
    }
}