.thumbMore{
	.numbers{
		color: #818181;
		text-align:center;
		padding: 10px;
		border-bottom: 1px solid #ddd;
	}
	.comment_list{
		border-bottom: 1px solid #ddd;
		.comment_photo{
			width: 40px;
			height: 40px;
			display: block;
			border-radius: 50%;
		}
		.weui-cell::before{
			border: none;
		}
		.weui-cell{
			padding: 10px;
		}
		.is_date{
			font-size: 13px;
			color: #888888;
		}
		.is_name{
			font-size: 14px;
		}
		.page__fd{
			padding-top: 1em;
		}
	}

}