@import '../../theme_variable';

.page {
    .atten-title {
        height: 200px;
        background: #fff;
        position: relative;
        overflow: hidden;
        .atten-hudu{
            position: absolute;
            box-shadow: 0 0 8px #cccccc;
            top: 0;
        }
        .atten-avartar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            position: absolute;
            top: 22px;
            left: calc(50% - 25px);
        }
        .atten-info {
            text-align: center;
            width: 100%;
            position: absolute;
            top: 90px;
            .info {
                padding-bottom: 5px;
            }
            .atten-btn {
                button[size="mini"] {
                    border: 1px solid #fff;
                    background: transparent;
                    width: 75px;
                    padding: 0px;
                }
            }
        }
    }

    .atten-container {
        padding: 10px 8px;
        background: #f3f3f4;
    }
}

.page-one {
    padding: 12px 0;
    .bd_bottom {
        background: #fff;
        padding: 10px;
        color: #828282;
        font-size: 13px;
        box-shadow: 0 2px 2px #828282;
        /*底边阴影*/
        .bd_bottom_l {
            text-align: right;
            color: #323232;
            font-size: 14px;
        }
    }
}

.page__bd {
    background: #fff;
    position: relative;
    box-shadow: 0 2px 2px #828282;
}

.main_figure {
    width: 100%;
    height: calc(50vw - 12px);
    display: block;
}

.page__fd {
    padding-top: 1em;
}

.list_title {
    overflow: hidden;
    background: linear-gradient(to top, rgba(0,0,0,.5),rgba(0,0,0,0));
    color: #fff;
    padding: 0px 5px;
    height: 35px;
    line-height: 35px;
    margin-top: -35px;
    z-index: 2
}

.creat-post {

    width: 60px;
    height: 60px;
    background-color: rgba(116, 72, 208, .77);
    font-size: 16px;
    &.button-hover {
        background-color: #4d327b;
        color: #fff;
    }
    border-radius:50%;
    position:fixed;
    text-align:center;
    line-height:60px;
    color:#fff;
    z-index:999999;
    bottom:10px;
    right:10px;
}

